<h1 id="tableLabel">Cálculo CDB</h1>

<p>Informe os dados abaixo para calcular CDB a partir de um valor de investimento.</p>

<div *ngIf="mode == 1">
  <form [formGroup]="formCalculate" novalidate (ngSubmit)="calculate()">
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td>Valor</td>
          <td><input type="text" (input)="formatValue($event)" formControlName="valueInvestment" placeholder="Valor inicial" /></td>
        </tr>
        <tr>
          <td>Prazo</td>
          <td><input type="number" placeholder="Meses" formControlName="period" value="0" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" [disabled]="formCalculate.invalid" value="Calcular" /></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<div *ngIf="mode == 2">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>Valor Bruto</td>
        <td align="left">{{ calculationResponse.gross | currency:'BRL':'symbol':'1.2-2' }}</td>
      </tr>
      <tr>
        <td>Valor Líquido</td>
        <td align="left">{{ calculationResponse.liquid | currency:'BRL':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="2"><input type="button" value="Voltar" (click)="back()" /></td>
      </tr>
    </tbody>
  </table>
</div>
